
ul{
    list-style-type: none;
}

.main {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
}

.pokeContainer {
    border: 1px solid;
       /* Demo-Specific Styles */
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    
    
    flex: 1 1 200px;
}

.clickMe {
    cursor: pointer;
}
  